html {
    background-color: #94d487;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    color: #fff;

    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
}

.wrapper {
    position: relative;

    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0; 
    left: 0; 
    z-index: 0;
}

a {
    color: #fff;
    text-decoration: dashed;
    display: block;
    padding: 2px;
}

a:hover {
    color: #000000;
}